*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  width: 100%;
  font-family: "Montserrat", sans-serif;
}

.nav {
  height: 10%;
  background: #87bbe6;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav__display {
  color: white;
  font-size: 2.5rem;
}

.main {
  background: rgb(228, 228, 228);
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  height: 100%;
  width: 100%;
  background: white;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRWQwgHnR0brdYlRMGBqal4_qDhIXQpF-fGjX1bFyvjuwjtsNbF")
    no-repeat;
  background-size: cover;
}

.card {
  position: relative;
  height: 486px;
  width: 306px;
  background: #87bbe6;
  box-shadow: 2px 2px 39px #000;
  border-radius: 10px;
  /* transition: 1s; */
}
.card__display {
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.card__display_image {
  height: 150px;
  width: 150px;
}
.card__display_image img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  border: 5px solid white;
}

.card__display_text {
  color: white;
  text-align: center;
  font-size: 15px;
  letter-spacing: 5px;
}
.card__display_text p {
  font-size: 12px;
}

.card__display_button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  cursor: pointer;
}
button:focus {
  outline: none;
}

.btn__connect {
  height: 40px;
  width: 100px;
  border: 1px solid white;
  background: transparent;
  color: white;
  font-size: 15px;
  letter-spacing: 2px;
  margin-bottom: 20px;
}

.btn__skip {
  border: none;
  font-size: 15px;
  letter-spacing: 3px;
  background: transparent;
  color: white;
  border-bottom: 1px solid white;
  padding-bottom: 10px;
}

.oops {
  color: white;
  font-weight: 400;
  opacity: 0.5;
}

#first {
  position: fixed;
}
#second {
  position: fixed;
  background: lightcoral;
}
#third {
  position: fixed;
  background: lightseagreen;
}
.front {
  z-index: 2;
  opacity: 1;
}
.back {
  transform: translate(10px, 10px);
  z-index: 1;
  background: #bddffc;
  transition: 0.7s;
}
.anime {
  animation-name: left;
  animation-duration: 0.7s;
  animation-delay: 0s;
  animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
@keyframes left {
  0% {
    transform: translate(-200px, 10px) rotate(40deg);
  }
  100% {
    transform: translate(0px, 0px) rotate(0deg);
  }
}
